<template>
	<div class="h-screen w-screen" />
</template>

<script>
export default {
	name: "Dashboard",
	data() {
		return {}
	},
	mounted() {
		const { role } = this.$store.state.auth
		if (role === "LIBRARIAN") {
			this.$router.push({name: "DashboardLibrarian"})
		} else if (role === "READER") {
			this.$router.push({name: "DashboardReader"})
		} else {
			this.$router.push({name: "SignIn"})
		}
	},
}
</script>
