<template>
	<div class="h-full w-full flex flex-col p-4">
		<Dialog
			:visible="borrowingVisible"
			:loading="borrowingLoading"
		>
			<div class="text-5xl mb-4">
				Potwierdź wypożyczenie
			</div>
			<div class="mb-2">
				Czy na pewno chcesz wypożyczyć książkę:
			</div>
			<Book :book="borrowingObject" />
			<div class="ms-alert ms-danger" v-show="borrowingError">
				{{ borrowingError }}
			</div>
			<button
				class="ms-btn ms-info mr-2"
				@click="onBorrowingConfirm"
			>
				Wypożycz
			</button>
			<button
				class="ms-btn"
				@click="onBorrowingCancel"
			>
				Anuluj
			</button>
		</Dialog>

		<div class="flex flex-col">
			<div
				v-show="error"
				class="ms-alert ms-danger"
			>
				{{ error }}
			</div>
			<CRUD
				:data="data"
				:headers="headers"
				title="Książki"
			>
				<template #row="{ row }">
					<td>{{ row.id }}</td>
					<td>{{ row.title }}</td>
					<td>{{ row.status }}</td>
					<td>{{ row.isbn }}</td>
					<td>{{ row.releasedAt }}</td>
					<td class="flex">
						<button
							:disabled="row.status !== 'AVAILABLE'"
							class="ms-btn m-0 mr-2"
							@click="onBorrowing(row)"
						>
							Wypożycz
						</button>
					</td>
				</template>
			</CRUD>

			<Pagination
				v-model="pagination.page"
				:per-page="pagination.size"
				:total-elements="pagination.totalElements"
			/>
		</div>
	</div>
</template>

<script>
import CRUD from "@/components/CRUD"
import Dialog from "@/components/Dialog"
import Book from "@/components/Book"
import Pagination from "@/components/Pagination"

export default {
	name: "DashboardReaderBooks",
	components: {CRUD, Dialog, Book, Pagination},
	data() {
		return {
			borrowingVisible: false,
			borrowingLoading: false,
			borrowingError: null,
			borrowingObject: {},

			pagination: {
				page: 1,
				size: 10,
				totalElements: 0,
			},
			error: null,
			headers: [
				{title: "ID"},
				{title: "Tytuł"},
				{title: "Status"},
				{title: "ISBN"},
				{title: "Wydana"},
				{title: "Akcje"},
			],
			data: [],
		}
	},
	computed: {
		page() {
			return this.pagination.page
		},
	},
	watch: {
		page() {
			this.refreshData()
		},
	},
	mounted() {
		this.refreshData()
	},
	methods: {
		async refreshData() {
			try {
				const response = await this.$api.getBooks({
					page: this.pagination.page - 1,
					size: this.pagination.size,
				})
				const { data, page } = response.data
				const p = page.page + 1
				if (p !== this.pagination.page) {
					return
				}
				this.data = data
				this.pagination = {...this.pagination, ...page, page: p}
			} catch (err) {
				this.error = err
			}
		},
		async onBorrowing(row) {
			this.borrowingObject = row
			this.borrowingVisible = true
		},
		async onBorrowingConfirm() {
			const { id } = this.borrowingObject
			this.borrowingLoading = true
			try {
				await this.$api.borrowBook(id)
				this.onBorrowingCancel()
				this.refreshData()
			} catch (err) {
				this.borrowingError = `Nie udało usunąć się książki: ${err}`
			} finally {
				this.borrowingLoading = false
			}
		},
		async onBorrowingCancel() {
			this.borrowingObject = {}
			this.borrowingError = null
			this.borrowingVisible = false
		},
	},
}
</script>

