<template>
	<div class="h-full w-full flex flex-col p-4">
		<div class="flex flex-col">
			<div
				v-if="title"
				class="text-5xl mb-4"
			>
				Wypożyczenia
			</div>

			<div
				v-show="error"
				class="ms-alert ms-danger"
			>
				{{ error }}
			</div>

			<CRUD
				:data="data"
				:headers="headers"
				title="Wypożyczenia"
			>
				<template #row="{ row }">
					<td>{{ row.bookTitle }}</td>
					<td>{{ row.borrowedAt }}</td>
					<td>{{ row.returnedAt }}</td>
					<td>{{ row.penalty }}</td>
				</template>
			</CRUD>

			<Pagination
				v-model="pagination.page"
				:per-page="pagination.size"
				:total-elements="pagination.totalElements"
			/>
		</div>
	</div>
</template>

<script>
import CRUD from "@/components/CRUD"
import Pagination from "@/components/Pagination"

export default {
	name: "DashboardReaderBookBorrowings",
	components: {CRUD, Pagination},
	data() {
		return {
			error: null,

			headers: [
				{title: "Tytuł"},
				{title: "Wypożyczona"},
				{title: "Oddana"},
				{title: "Naliczona kara"},
			],
			data: [],
			pagination: {
				page: 1,
				size: 10,
				totalElements: 0,
			},
		}
	},
	mounted() {
		this.refreshData()
	},
	computed: {
		page() {
			return this.pagination.page
		},
	},
	watch: {
		page() {
			this.refreshData()
		},
	},
	methods: {
		async refreshData() {
			try {
				const response = await this.$api.getUserBorrowings({
					page: this.pagination.page - 1,
					size: this.pagination.size,
				})
				const {data, page} = response.data
				const p = page.page + 1
				if (p !== this.pagination.page) {
					return
				}
				this.data = data
				this.pagination = {...this.pagination, ...page, page: p}
			} catch (err) {
				this.error = err
			}
		},
	},
}
</script>
