<template>
	<div class="h-screen w-screen flex">
		<div
			class="flex bg-gray-100 flex-col"
			style="width: 300px"
		>
			<div class="w-full mx-2 mb-2">
				<div>Zalogowany jako:</div>
				<div class="ml-4 text-gray-700">
					{{ $store.state.auth.username }}
				</div>
			</div>
			<ul class="flex flex-col">
				<template v-for="(a, i) in actions">
					<router-link
						v-if="a.title"
						:key="i"
						v-slot="{ href, navigate, isActive, isExactActive }"
						:to="a.to"
					>
						<li
							class="action"
							:class="[isActive && 'router-link-active', isExactActive && 'router-link-exact-active', !!a.header && 'action-header']"
						>
							<a
								:href="href"
								@click="navigate"
							>{{ a.title }}</a>
						</li>
					</router-link>

					<li
						v-else
						:key="i"
						class="action-header"
					>
						<div class="ml-2 p-1 text-md">
							{{ a.header }}
						</div>
					</li>
				</template>
			</ul>
		</div>

		<div class="flex flex-col flex-1 overflow-auto">
			<router-view />
		</div>
	</div>
</template>

<script>
export default {
	name: "DashboardLibrarian",
	data() {
		return {
			actions: [
				{ header: "Opcje" },
				{ title: "Książki", to: "/dashboard/librarian/books" },
				{ title: "Propozycje", to: "/dashboard/librarian/requests" },
				{ title: "Wypożyczenia", to: "/dashboard/librarian/borrowings" },
				/* { title: "Wypożyczenia", to: "admin" }, */
			],
		}
	},
}
</script>

<style lang="postcss" scoped>
	.action {
		@apply m-0 ml-6 mr-2 mb-2;
		@apply bg-gray-200;
		@apply rounded;
		@apply flex-1;
	}
	.action-header {
		@apply text-gray-800 font-bold text-center;
	}
	.action.router-link-exact-active {
		@apply bg-gray-300;
		@apply ml-2;
	}
	.action a {
		@apply block;
		@apply p-2;
		/* display: block; */
	}
</style>
