<template>
	<div class="h-full w-full flex flex-col p-4">
		<Dialog
			:visible="addVisible"
			:loading="addLoading"
		>
			<Form
				:schema="addSchema"
				:data="addObject"
				:error="addError"
				title="Dodaj książkę"
			>
				<template #status>
					<label for="status">Status</label>
					<select
						v-model="addObject.status"
						class="px-2"
					>
						<option
							disabled
							value=""
						>
							Wybierz status
						</option>
						<option value="AVAILABLE">
							Dostępna
						</option>
						<option value="BORROWED">
							Zajęta
						</option>
					</select>
				</template>

				<template #actions>
					<button
						class="ms-btn ms-info mr-2"
						@click="onAddConfirm"
					>
						Dodaj
					</button>
					<button
						class="ms-btn"
						@click="onAddCancel"
					>
						Anuluj
					</button>
				</template>
			</Form>
		</Dialog>

		<Dialog
			:visible="editVisible"
			:loading="editLoading"
		>
			<Form
				:schema="editSchema"
				:data="editObject"
				:error="editError"
				title="Edytuj książkę"
			>
				<template #status>
					<label for="status">Status</label>
					<select
						v-model="editObject.status"
						class="px-2"
					>
						<option
							disabled
							value=""
						>
							Wybierz status
						</option>
						<option value="AVAILABLE">
							Dostępna
						</option>
						<option value="BORROWED">
							Zajęta
						</option>
					</select>
				</template>

				<template #actions>
					<button
						class="ms-btn ms-info mr-2"
						@click="onEditConfirm"
					>
						Edytuj
					</button>
					<button
						class="ms-btn"
						@click="onEditCancel"
					>
						Anuluj
					</button>
				</template>
			</Form>
		</Dialog>

		<Dialog
			:visible="deleteVisible"
			:loading="deleteLoading"
		>
			<div class="h-full w-full flex-flex-col">
				<div class="text-5xl mb-4">
					Potwierdź
				</div>
				<div class="mb-2">
					Czy na pewno chcesz usunąć książkę od ID: {{ deleteObject.id }}
				</div>
				<div v-show="deleteError">
					{{ deleteError }}
				</div>
				<div class="flex">
					<button
						class="ms-btn ms-danger mr-2"
						@click="onDeleteConfirm"
					>
						Usuń
					</button>
					<button
						class="ms-btn"
						@click="onDeleteCancel"
					>
						Anuluj
					</button>
				</div>
			</div>
		</Dialog>

		<div class="flex flex-col">
			<div
				v-show="error"
				class="ms-alert ms-danger"
			>
				{{ error }}
			</div>
			<CRUD
				:data="data"
				:headers="headers"
			>
				<template #title>
					<div class="text-5xl">
						Książki
					</div>
					<button
						class="ms-btn ms-info"
						@click="onAdd"
					>
						Dodaj
					</button>
				</template>

				<template #row="{ row }">
					<td>{{ row.id }}</td>
					<td>{{ row.title }}</td>
					<td>{{ row.status }}</td>
					<td>{{ row.isbn }}</td>
					<td>{{ row.releasedAt }}</td>
					<td class="flex">
						<button
							class="ms-btn m-0 mr-2"
							@click="onEdit(row)"
						>
							Edytuj
						</button>
						<button
							class="ms-btn m-0 ms-danger"
							@click="onDelete(row)"
						>
							Usuń
						</button>
					</td>
				</template>
			</CRUD>

			<Pagination
				v-model="pagination.page"
				:per-page="pagination.size"
				:total-elements="pagination.totalElements"
			/>
		</div>
	</div>
</template>

<script>
import CRUD from "@/components/CRUD"
import Form from "@/components/Form"
import Dialog from "@/components/Dialog"
import Pagination from "@/components/Pagination"

export default {
	name: "DashboardLibrarianBooks",
	components: {CRUD, Form, Dialog, Pagination},
	data() {
		return {
			addVisible: false,
			addLoading: false,
			addError: null,
			addSchema: [
				{ name: "title", label: "Tytuł *" },
				{ name: "status", label: "Status *" },
				{ name: "isbn", label: "ISBN *" },
				{ name: "releasedAt", label: "Wydana *", type: "date" },
			],
			addObject: {},

			editVisible: false,
			editLoading: false,
			editError: null,
			editSchema: [
				{ name: "title", label: "Tytuł *" },
				{ name: "status", label: "Status *" },
				{ name: "isbn", label: "ISBN *" },
				{ name: "releasedAt", label: "Wydana *", type: "date" },
			],
			editObject: {},

			deleteVisible: false,
			deleteLoading: false,
			deleteError: null,
			deleteObject: {},

			pagination: {
				page: 1,
				size: 10,
				totalElements: 0,
			},
			error: null,
			headers: [
				{title: "ID"},
				{title: "Tytuł"},
				{title: "Status"},
				{title: "ISBN"},
				{title: "Wydana"},
				{title: "Akcje"},
			],
			data: [],
		}
	},
	computed: {
		page() {
			return this.pagination.page
		},
	},
	watch: {
		page() {
			this.refreshData()
		},
	},
	mounted() {
		this.refreshData()
	},
	methods: {
		async refreshData() {
			try {
				const response = await this.$api.getBooks({
					page: this.pagination.page - 1,
					size: this.pagination.size,
				})
				const { data, page } = response.data
				const p = page.page + 1
				if (p !== this.pagination.page) {
					return
				}
				this.data = data
				this.pagination = {...this.pagination, ...page, page: p}
			} catch (err) {
				console.log(err)
				this.error = err
			}
		},
		onAdd() {
			this.addVisible = true
		},
		async onAddConfirm() {
			const { title, status, isbn, releasedAt } = this.addObject
			if (!title || !status || !isbn || !releasedAt) {
				this.addError = "Wypełnij wymagane pola"
				return
			}

			this.addLoading = true
			try {
				const book = await this.$api.addBook(this.addObject)
				console.log(book)
				this.onAddCancel()
				this.refreshData()
			} catch (err) {
				this.addError = err
			} finally {
				this.addLoading = false
			}
		},
		onAddCancel() {
			this.addObject = {}
			this.addError = null
			this.addVisible = false
		},
		onEdit(data) {
			this.editVisible = true
			this.editObject = {...data}
		},
		async onEditConfirm() {
			const { id, title, status, isbn, releasedAt } = this.editObject
			if (!title || !status || !isbn || !releasedAt) {
				this.addError = "Wypełnij wymagane pola"
				return
			}

			this.editLoading = true
			try {
				await this.$api.editBook(id, this.editObject)
				this.onEditCancel()
				this.refreshData()
			} catch (err) {
				this.editError = err
			} finally {
				this.editLoading = false
			}
		},
		onEditCancel() {
			this.editObject = {}
			this.editError = null
			this.editVisible = false
		},
		async onDelete(row) {
			this.deleteObject = row
			this.deleteVisible = true
		},
		async onDeleteConfirm() {
			const { id } = this.deleteObject
			this.deleteLoading = true
			try {
				await this.$api.deleteBook(id)
				this.onDeleteCancel()
				this.refreshData()
			} catch (err) {
				this.deleteError = `Nie udało usunąć się książki: ${err}`
			} finally {
				this.deleteLoading = false
			}
		},
		async onDeleteCancel() {
			this.deleteObject = {}
			this.deleteError = null
			this.deleteVisible = false
		},
	},
}
</script>
