<template>
	<div class="h-screen w-screen flex flex-col items-center justify-center">
		<div class="text-5xl mb-8">
			Zarejestruj się
		</div>

		<form @submit.prevent="signUp">
			<div class="flex flex-col">
				<div class="ms-form-group">
					<label for="username">Nazwa użytkownika: *</label>
					<input
						v-model="form.username"
						name="username"
						placeholder="Nazwa użytkownika"
					>
				</div>

				<div class="ms-form-group">
					<label for="password">Hasło: *</label>
					<input
						v-model="form.password"
						name="password"
						placeholder="Hasło"
						type="password"
					>
				</div>

				<div class="ms-form-group">
					<label for="repeatPassword">Potwierdź hasło: *</label>
					<input
						v-model="form.repeatPassword"
						name="repeatPassword"
						placeholder="Potwierdź hasło"
						type="password"
					>
				</div>

				<div class="ms-form-group">
					<label for="name">Imię:</label>
					<input
						v-model="form.name"
						name="name"
						placeholder="Imię"
					>
				</div>

				<div class="ms-form-group">
					<label for="surname">Nazwisko:</label>
					<input
						v-model="form.surname"
						name="surname"
						placeholder="Nazwisko"
					>
				</div>

				<div
					v-show="error"
					class="ms-alert ms-danger"
				>
					{{ error }}
				</div>

				<div class="flex-1 flex space-between">
					<button
						type="submit"
						class="ms-btn ms-info"
					>
						Zarejestruj
					</button>

					<div class="w-4" />

					<router-link
						to="sign-in"
						class="ms-btn"
					>
						Zaloguj się
					</router-link>
				</div>
			</div>
		</form>
	</div>
</template>

<script>
export default {
	name: "SignUp",
	data() {
		return {
			form: {
				username: "",
				password: "",
				repeatPassword: "",
				name: "",
				surname: "",
			},
			error: null,
		}
	},
	methods: {
		async signUp() {
			if (
				this.form.username === "" ||
			this.form.password === "" ||
			this.form.password !== this.form.repeatPassword
			) {
				this.error = "Wypełnij wymagane pola"
				return
			}

			try {
				await this.$api.signUp({
					username: this.form.username,
					password: this.form.password,
				})
				this.$router.go("/")
			} catch (err) {
				this.error = err
			}
		},
	},
}
</script>
