<template>
	<div class="h-screen w-screen flex flex-col items-center justify-center">
		<div class="text-5xl mb-8">
			Zaloguj się
		</div>

		<form @submit.prevent="signIn">
			<div class="flex flex-col">
				<div class="ms-form-group">
					<label for="username">Nazwa użytkownika:</label>
					<input
						v-model="username"
						name="username"
						placeholder="Nazwa użytkownika"
					>
				</div>

				<div class="ms-form-group">
					<label for="username">Hasło:</label>
					<input
						v-model="password"
						name="password"
						type="password"
						placeholder="Hasło"
					>
				</div>

				<div
					v-show="error"
					class="ms-alert ms-danger"
				>
					{{ error }}
				</div>

				<div class="flex-1 flex space-between">
					<button
						class="ms-btn ms-info"
					>
						Zaloguj
					</button>

					<div class="w-4" />

					<router-link
						class="ms-btn"
						to="sign-up"
					>
						Zarejestruj się
					</router-link>
				</div>
			</div>
		</form>
	</div>
</template>

<script>
export default {
	name: "SignIn",
	data() {
		return {
			username: "",
			password: "",
			error: null,
		}
	},
	methods: {
		async signIn() {
			try {
				await this.$api.signIn({
					username: this.username,
					password: this.password,
				})
				this.$router.push("/")
			} catch (err) {
				this.error = err
			}
		},
	},
}
</script>
