<template>
	<JSONObject
		:object="book"
		:labels="labels"
		:keys="keys"
	/>
</template>

<script>
import JSONObject from "./JSONObject"
export default {
	name: "Book",
	components: { JSONObject },
	props: {
		book: { type: Object, required: true },
	},
	data() {
		return {
			labels: {"title": "Tytuł", "isbn": "ISBN", "releasedAt": "Wydana", "status": "Status"},
			keys: ["title", "isbn", "releasedAt", "status"],
		}
	},
}
</script>
