<template>
	<div class="h-full w-full flex flex-col">
		<div class="mb-4 flex justify-between items-center">
			<slot v-if="$slots['title']" name="title" />
			<div v-else class="text-5xl">{{ title }}</div>
		</div>

		<div>
			<table>
				<thead>
					<tr>
						<td
							v-for="(h, i) in headers"
							:key="i"
						>
							{{ h.title }}
						</td>
					</tr>
				</thead>

				<tbody>
					<tr
						v-for="(r, i) in data"
						:key="i"
					>
						<slot
							name="row"
							:row="r"
						/>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
export default {
	name: "CRUD",
	props: {
		title: { type: String, default: null },
		data: {type: Array, required: true},
		headers: { type: Array, required: true },
	},
	data() {
		return {}
	},
}
</script>

<style>

</style>
