<template>
	<div
		v-show="visible"
		class="absolute inset-0 bg-black bg-opacity-30 flex justify-center items-center"
	>
		<div
			class="p-3 bg-white rounded-lg relative"
			:class="{ 'pointer-events-none': loading }"
		>
			<slot />

			<div
				v-show="loading"
				class="inset-0 absolute bg-black bg-opacity-5 rounded-lg"
			/>
		</div>
	</div>
</template>

<script>
export default {
	name: "Dialog",
	props: {
		loading: { type: Boolean, default: false },
		visible: { type: Boolean, default: false },
	},
	data() { return {} },
}
</script>
