<template>
	<div class="h-full w-full flex flex-col">
		<div
			v-if="title"
			class="text-5xl mb-4"
		>
			{{ title }}
		</div>

		<div
			v-for="(s, i) in schema"
			:key="i"
			class="ms-form-group"
		>
			<div v-if="!!$slots[s.name]">
				<slot :name="s.name" />
			</div>

			<div v-else>
				<label :for="s.name">{{ s.label }}</label>
				<input
					v-model="data[s.name]"
					:type="s.type ? s.type : 'text'"
					:name="s.name"
					:placeholder="s.placeholder"
				>
			</div>
		</div>

		<div
			v-show="error"
			class="ms-alert ms-danger"
		>
			{{ error }}
		</div>

		<div class="flex">
			<slot name="actions" />
		</div>
	</div>
</template>

<script>
export default {
	name: "Form",
	props: {
		title: { type: String, default: null },
		schema: { type: Array, required: true },
		data: { type: Object, required: true },
		error: { type: String, default: null },
	},
	data() {
		return {}
	},
}
</script>
