<template>
	<div class="flex flex-col">
		<div
			v-for="(k, i) in _keys"
			:key="i"
			class="ms-form-group"
		>
			<label :for="k">{{ getLabel(k) }}</label>
			<input
				:name="k"
				readonly
				:value="object[k]"
			>
		</div>
	</div>
</template>

<script>
export default {
	name: "JSONObject",
	props: {
		labels: { type: Object, default: () => ({}) },
		object: { type: Object, required: true },
		keys: { type: Array, default: null },
	},
	computed: {
		_keys() {
			if (Array.isArray(this.keys)) {
				return this.keys
			}

			return Object.keys(this.object)
		},
	},
	methods: {
		getLabel(key) {
			return this.labels[key] ?? key
		},
	},
}
</script>
