<template>
	<div
		v-show="totalElements > 0"
		class="flex items-center"
	>
		<button
			class="ms-btn m-0"
			@click="prevPage"
		>
			&lt;
		</button>
		<div class="mx-1 flex items-center">
			<input
				size="4"
				class="p-0 px-1"
				:style="{width: autoWidth}"
				type="number"
				:value="value"
				@input="onInput($event.target.value)"
			>
			<div class="mx-2">
				/
			</div>
			<div>{{ totalPages }}</div>
		</div>
		<button
			class="ms-btn m-0"
			@click="nextPage"
		>
			&gt;
		</button>
	</div>
</template>

<script>
export default {
	name: "Pagination",
	props: {
		value: { type: Number, required: true },
		perPage: { type: Number, default: 10 },
		totalElements: { type: Number, required: true },
	},
	data() {
		return {}
	},
	computed: {
		autoWidth() {
			return ("  "+this.value).length + "ch"
		},
		totalPages() {
			return Math.ceil(this.totalElements / this.perPage)
		},
	},
	methods: {
		onInput(v) {
			if (!v) v = 1
			v = parseInt(v) ?? 1
			if (v > this.totalPages) {
				v = this.totalPages
			} else if (v < 1) {
				v = 1
			}

			this.$emit("input", v)
		},
		nextPage() {
			this.onInput(this.value + 1)
		},
		prevPage() {
			this.onInput(this.value - 1)
		},
	},

}
</script>

<style scoped>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
